[Unit]
Description=DNSOverHTTPS V2
[Service]
User=root
Group=root 
WorkingDirectory=/root
ExecStart=doh-proxy -H 'example.com' -l '127.0.0.1:31101' -g <PUBLIC_IP> -u 127.0.0.1:53 -I /root/example.ir.pem -i /root/example.ir.crt -p '/<SOMETHING_OTHER_THAN_dns-query>'
Restart=on-failure
RestartSec=30s
LimitNOFILE=infinity
[Install]
WantedBy=multi-user.target
